.Card{

    width: 430px;
    background: linear-gradient(to right, #1e88e5, #42a5f5);  
    height: 300px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;


}


.Big-Card{
    background-color: white;
    width: 500px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 4px 20px 17px -7px rgba(0,0,0,0.15);
    -webkit-box-shadow: 4px 20px 17px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 20px 17px -7px rgba(0,0,0,0.15);
    margin-right: 40px;   
    
}